body {
  font-family: "Roboto";
  margin: 0;
  height: 100vh;
}

p {
  margin: 0;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  color: #e5e7eb;
  border: none;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0px;
}
/* header */
.header {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px 220px;
  display: flex;
  flex-direction: column;
}

/* top navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}
.nav-right a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 20px;
}

/* header */
.header-desc {
  margin: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}
.header-desc-left {
  max-width: 450px;
}
.header-desc-left h1 {
  font-size: 48px;
  color: #f9faf8;
  margin: 0;
  font-weight: 900;
}
.header-desc-left p {
  font-size: 18px;
}
.header-desc img {
  width: 100%;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 250px;
  overflow: hidden;
}
/* cards contents */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 100px;
  margin: 0;
}
.content-one h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 60px;
}
.card-container {
  display: flex;
  gap: 60px;
}
.card {
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: gray;
  font-size: 17px;
}
.card img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: 5px solid #3882f6;
  margin-bottom: 10px;
}
/* qoutes section */
.content-two {
  background-color: #e5e7eb;
  padding: 120px 350px;
}

.content-two h2 {
    text-align: end;
    margin: 0;
}
.content-two p {
    text-align: start;
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
}

/* sign up banner */
.sign-up-banner {
    background-color: #3882f6;
    color: #e5e7eb;
    /* width: 60%; */
    padding:30px 100px ;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 150px;

}
.sign-up-banner-text {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.sign-up-banner h3 {
    margin: 0;
}
.sign-up-banner button {
    border: 3px solid #e5e7eb;
}

/* footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
}
